In [1]:
import pandas as pd
import numpy as np

In [3]:
M = pd.read_csv('Restaurant.csv', index_col='Name')

In [4]:
M.head()

,Puran Indian Restaurant,Signature India - Bloomington,Happy Hour bloomington,India Palace Restaurant,Anand India Restaurant,Tamarind - Indian Cuisine,Masala,Haldi Indian Restaurant,Himalayan Restaurant,Rivaj Of India,Ruchi,New Delhi Restaurant of India,Bombay Chopsticks,Mantra by Indian Garden,Taj Indian Cuisine,Khana Khazanah
Name,,,,,,,,,,,,,,,,
Veera,3,NaN,5,NaN,3,4,NaN,5,NaN,NaN,3,4,3,4,NaN,4
Shekar,4,NaN,NaN,4,4,5,5,NaN,3,4,4,5,4,4,NaN,5
Ramesh,NaN,4,5,NaN,4,2,NaN,NaN,NaN,NaN,NaN,3,4,3,3,NaN
Shrujana,3,NaN,5,NaN,3,NaN,NaN,5,2,2,NaN,NaN,NaN,NaN,4,3
Rahul,NaN,NaN,4,3,4,3,4,5,3,4,3,4,1,5,NaN,3

In [5]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [6]:
def get_recs(restaurant_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == restaurant_name:
            continue
        cor = pearson(M[restaurant_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

# Restaurant that has food that is similar to Haldi:

In [7]:
recs = get_recs('Haldi Indian Restaurant', M, 10)

In [8]:
recs[:1]

[('Happy Hour bloomington', 0.29864801372011995)]

# Restaurant that I would like to visit based on the reviews:

In [9]:
#the restaurant that i have visited
my_ratings = M.ix['Shrujana'].dropna()

In [10]:
#the restaurants which i have rated the highest
my_ratings.sort(ascending=False)

C:\Users\shru.shru-PC\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting
  from ipykernel import kernelapp as app

In [11]:
fav_restaurant = my_ratings.index[0]

In [12]:
fav_restaurant

'Haldi Indian Restaurant'

In [13]:
recs = get_recs(fav_restaurant, M, 10)

In [14]:
recs[:10]

[('Happy Hour bloomington', 0.29864801372011995),
 ('Tamarind - Indian Cuisine', 0.1772361087277764),
 ('Masala', 0.096892365979085196),
 ('Puran Indian Restaurant', 0.092357589991483302),
 ('Signature India - Bloomington', 0.088974367826027731),
 ('Bombay Chopsticks', 0.08802037679329433),
 ('Mantra by Indian Garden', 0.03054608876526441),
 ('New Delhi Restaurant of India', -0.0044764788022980187),
 ('Anand India Restaurant', -0.0048989618997286573),
 ('India Palace Restaurant', -0.024434070710641433)]

In [15]:
anti_recs = get_recs(fav_restaurant, M, 8551)

In [16]:
anti_recs[-10:]

[('Bombay Chopsticks', 0.08802037679329433),
 ('Mantra by Indian Garden', 0.03054608876526441),
 ('New Delhi Restaurant of India', -0.0044764788022980187),
 ('Anand India Restaurant', -0.0048989618997286573),
 ('India Palace Restaurant', -0.024434070710641433),
 ('Taj Indian Cuisine', -0.030023214339067131),
 ('Khana Khazanah', -0.041729386844087377),
 ('Rivaj Of India', -0.063365116820478601),
 ('Himalayan Restaurant', -0.076384834426830112),
 ('Ruchi', -0.18454250482397611)]

In [17]:
not_rated = M.ix['Shrujana']
not_rated.sort()
for i in range(0, not_rated.count(), 1):
    not_rated.drop(not_rated.index[0], inplace=True)

C:\Users\shru.shru-PC\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting
  from ipykernel import kernelapp as app

In [18]:
not_rated

Signature India - Bloomington   NaN
India Palace Restaurant         NaN
Tamarind - Indian Cuisine       NaN
Masala                          NaN
Ruchi                           NaN
New Delhi Restaurant of India   NaN
Bombay Chopsticks               NaN
Mantra by Indian Garden         NaN
Name: Shrujana, dtype: float64

In [20]:
print "Pearson Correlation coefficient of :"
a= []
for i in range(0, 23, 1): # as there are 23 rows(M.shape), range(0,23) 
    cor=pearson(M.ix[3], M.ix[i])
    print "(" + M.index[3] + " , " + M.index[i] + ") :", cor
    a.append(cor)

Pearson Correlation coefficient of :
(Shrujana , Veera) : 0.595046231887
(Shrujana , Shekar) : 0.303897798492
(Shrujana , Ramesh) : 0.251708298454
(Shrujana , Shrujana) : 1.0
(Shrujana , Rahul) : 0.285170934927
(Shrujana , Aruna) : 0.210953981424
(Shrujana , saritha) : 0.0429650039123
(Shrujana , Naresh) : 0.288389515514
(Shrujana , Vinnu) : 0.252138233851
(Shrujana , Dheeraj) : 0.364787088934
(Shrujana , Tanmayee) : 0.492510016788
(Shrujana , Ned) : 0.00571358671
(Shrujana , Sam) : 0.44466000011
(Shrujana , Ashwin) : 0.770176512097
(Shrujana , Bavroop) : -0.141635233436
(Shrujana , Richa) : 0.155136354457
(Shrujana , Priya) : 0.200868368007
(Shrujana , Bhasker) : 0.268500583409
(Shrujana , Dominic) : -0.251997026005
(Shrujana ,  Simona) : 0.276445511855
(Shrujana , Madhu) : 0.284627226786
(Shrujana , Haneesha) : 0.201453232723
(Shrujana , Kavya) : -0.137442909824

In [21]:
def pred_rate(x, a):
    """
    Takes two parameters 'x' and 'a'. 
    Where 'x' a list of rates given by people. 
    'a' is a array that has corresponding pearson correlation coefficientreturn (weights for the given rates).
    predicted rate is calculated as rate= (x[0]*a[0] + x[1]*a[1] +...+x[i]*a[i]) / (a[0]+a[1]+..+a[i]) 
    returns predicted rate 
    """
    j=0
    k=0
    for i in range(0, 23, 1): # becausethere are 23 rows(x.shape), range(0,23) 
        if x.irow(i)>0 and a[i]>0: 
            j= j+(a[i]*x.irow(i))
            k= k+a[i]
        else:
            continue
    return j/k

In [22]:
print "The ratings for the restaurant that I did not visit]:"
for i in range(0, 5, 1): # because there are 12 rows(not_rated.shape), range(0,12) 
    x=M[not_rated.index[i]]
    rate=pred_rate(x, a)
    print not_rated.index[i] +": ", rate.round(1)

The ratings for the restaurant that I did not visit]:
Signature India - Bloomington:  3.4
India Palace Restaurant:  3.8
Tamarind - Indian Cuisine:  3.7
Masala:  4.3
Ruchi:  3.2

C:\Users\shru.shru-PC\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: irow(i) is deprecated. Please use .iloc[i] or .iat[i]
C:\Users\shru.shru-PC\Anaconda2\lib\site-packages\ipykernel\__main__.py:13: FutureWarning: irow(i) is deprecated. Please use .iloc[i] or .iat[i]